# Ignore node_modules folder
node_modules/

# Ignore client-side node_modules
client/node_modules/

# Ignore server-side node_modules
server/node_modules/

# Ignore environment variables
.env
.env.local

# Ignore log files
*.log

# Ignore build folders
build/
dist/

# Ignore IDE specific files
.vscode/
.idea/